---
// Modal.astro
import { Button, Modal as AstroModal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components';

const { title, description, tags, alt, imageSrc, modalId } = Astro.props;
---

<AstroModal id={modalId} class="hidden">
  <ModalHeader>
    <h4>{title}</h4>
  </ModalHeader>
  <ModalBody>
    <img src={imageSrc} alt={alt} class="w-full h-auto mb-4" />
    <p>{description}</p>
    <div class="mt-4">
      {tags && tags.map((tag, index) => (
        <span class="inline-block bg-gray-200 text-gray-800 text-sm rounded-lg px-3 py-1 mr-2">{tag}</span>
      ))}
    </div>
  </ModalBody>
  <ModalFooter>
    <Button label="Close" data-modal-close />
  </ModalFooter>
</AstroModal>
